body {
    margin: 0;   
}

#Wrap { 
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

#Header {
    background-color: #232D36; 
    color: #fff; 
    display: flex; 
    align-items: center; 
    padding-left: 2px; 
    height: 52px;
}

#Chatpage { 
    background-color: #101D25; 
    flex: 1; 
    overflow: auto;
}

#Backbutton {
    margin-right: 10px;
}

#Profile {
    font-size: 21px;
    font-weight: 400;
    color:#D3DAE0;
    display: flex;
    align-items: center;
    flex: 1;
}

#Profilepicture {
    border-radius: 50%;
    width: 32px; 
    height: 32px;
    margin-right:10px;
}

#Icons {
    display: flex;
    align-items: center;
}

#Today {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px 10px;
}

#Todayword {
    font-size: 14px; 
    padding: 4px 10px;
    color: #9CA7AD;
    background-color: #202B31;
    text-align: center;
    border-radius: 6px;
}

#NoticeWrapper {
    padding: 0 32px;
}

#Notice {
    font-size: 14px; 
    color: #C7BE8A;
    text-align: center;
    background-color: #1E2A31;
    border-radius: 6px;
    padding: 6px;
    margin: 0px;
}

#NoticeSymbol {
    margin: 0 10px;
}

#more {
    padding-left: 24px; 
}

#talk{
    padding-left: 24px; 
}